# SELF_COMMISSIONING CONFIGURATION FILE

#---------------------------------------------------------------------------
# Project related configuration options
#---------------------------------------------------------------------------

[Project]

# The ProjectName is used to give the name to the output files.

#ProjectName: WindyStrip_sBPM__SelfComm__OrcaH24__#1__ShortShaft
#ProjectName: WindyStrip_sBPM__SelfComm__OrcaH24__#2__ShortShaft
#ProjectName: WindyStrip_sBPM__SelfComm__OrcaH24__#A001__ShortShaft
#ProjectName: WindyStrip_sBPM__SelfComm__OrcaH24__2__LongShaft
#ProjectName: WindyStrip_sBPM__SelfComm__OrcaH24__#A003__LongShaft
#ProjectName: SelfCommissioning_WindyStrip_sBPM__SelfComm__OrcaH24__Y008

ProjectName: WindyStrip_sBPM__SelfComm__HefeiH24__ID5

# The FW ELF File Path is specified in this parameter. 

ElfPath: ./exe/Self_Commissioning_BPM.out


#---------------------------------------------------------------------------
# Communication parameters
#---------------------------------------------------------------------------

[Communication]
# Specify here the COMPORT number.

SerialPort: COM7

# The serial BaudRate is specified here. This requires that the board UART
# is configured properly.

SerialBaud: 38400

# This is an internal configuration that specifies how much time the Python
# serial library has to wait for a received character on the buffer. It is
# safe to leave at 0.2.

SerialTimeout: 0.2

# The architecture of the MCU used is specified here. Currently, the RENESAS_RX62T,
# FREESCALE_DSC and FREESCALE_KV3X architectures are supported.

SerialArch: FREESCALE_KV3X

# MasterCommander serial buffer size. This parameter has to match the 
# corresponding value specified in the FW of the MCU.

ComBufferSize: 35

#---------------------------------------------------------------------------
# Common Measurement Parameters
#---------------------------------------------------------------------------

[Common]

# Number of samples to acquire for each measurement step

AcqSamples: 10

# Inverter voltage drop to account for

InverterVoltDrop: 2.0

# Current limitation for the motor control loop.
# The Overcurrent fault threshold will be set to a value of
# 1.20 * CurrentLimit

CurrentLimit: 6.6

# Enable the parameters auto calibration feature.
# If enabled, there will be no need to configure the Voltages minimum
# and maximum for the injection. The values will be automatically calculated.
# You will only need to specify the number of acquisition points.

EnableAutoCalibration: False

#---------------------------------------------------------------------------
# Inductance Measurement Parameters
#---------------------------------------------------------------------------

[Inductance]

# Frequency used for AC injection

Frequency: 300

# Minimum values of current amplitude to apply.

VoltageMin: 30

# Maximum values of voltage amplitude to apply.

VoltageMax: 110

# Points for AC injection

VoltagePoints: 10


#---------------------------------------------------------------------------
# Stator Resistance Measurement Parameters
#---------------------------------------------------------------------------

[Resistance]

# Minimum value of DC voltage amplitude to apply.

CurrentDCMin: 2.0

# Minimum value of DC voltage amplitude to apply.

CurrentDCMax: 2.0

# DC Voltage points

CurrentDCPoints: 1

#---------------------------------------------------------------------------
# Back-EMF Observer Resistance Measurement Parameters
#---------------------------------------------------------------------------

[SpeedBEMF]

# Minimum value speed to apply.

SpeedMin: 1000

# Maximum value of speed to apply.

SpeedMax: 4000

# Number of speed points from SpeedMin to SpeedMax

SpeedPoints: 10

